.App {
  text-align: center;
  background-color: black;
  color: yellow;
  font-family: 'Arial', sans-serif;
}
.App-header {
  background-image: url('./../public/starwars-char.jpeg');
  background-size: cover; /* Ensure the background image covers the entire element */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  min-height: 100vh; /* Make sure the element at least fills the viewport height */
  width: 100vw; /* Make sure the element fills the viewport width */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background-color: yellow;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}
